@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root {
  --blue: #0079ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

img {
  width: 100%;
}

body.light {
  --primary-bg: #f6f8ff;
  --secondary-bg: #fefefe;
  --primary-text: #2b3442;
  --secondary-text: #4b6a9b;
  --tertiary-text: #697c9a;
  --logo: #222731;
}

body.dark {
  --primary-bg: #141d2f;
  --secondary-bg: #1e2a47;
  --primary-text: #fff;
  --secondary-text: #fff;
  --tertiary-text: #fff;
  --logo: #fff;
}

body {
  font-family: 'Space Mono', monospace;
  background-color: var(--primary-bg);
}

.container {
  max-width: 375px;
  margin: 0 auto;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-weight: 700;
  font-size: 2.6rem;
  line-height: 3.9rem;
  color: var(--logo);
}

header .theme-toggle {
  display: flex;
  align-items: center;
}

header .theme-toggle span {
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 1.9rem;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  color: var(--secondary-text);
  margin-right: 1.6rem;
}

body.light header .theme-toggle .theme-icon {
  content: url('./assets/icon-moon.svg');
}

body.dark header .theme-toggle .theme-icon {
  content: url('./assets/icon-sun.svg');
}

main {
  margin-top: 3.6rem;
}

main form {
  background-color: var(--secondary-bg);
  border-radius: 1.5rem;
  height: 6rem;
}

body.light main form,
body.light main .card {
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
}

main form .input-field {
  position: relative;
  height: 100%;
}

main form .input-field input {
  padding: 1.8rem 9.8rem 1.7rem 4.5rem;
  border: none;
  background-color: transparent;
  width: 100%;
}

main form .input-field input:focus ~ label {
  display: none;
}

main form .input-field .search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1.6rem;
  width: 2rem;
}

main form .input-field label {
  font-size: 1.3rem;
  line-height: 2.5rem;
  color: var(--secondary-text);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 4.5rem;
}

main form .input-field .btn {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2.1rem;
  color: #fff;
  background-color: var(--blue);
  padding: 1.25rem 1.6rem;
  border: none;
  border-radius: 1rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0.7rem;
}

main .card {
  margin-top: 1.6rem;
  background-color: var(--secondary-bg);
  border-radius: 1.5rem;
  padding: 3.2rem 2.4rem 4.8rem;
}

main .card .card-header {
  display: flex;
  align-items: center;
}

main .card .card-header .avatar {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 1.9rem;
}

main .card .card-header .info .name {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: var(--primary-text);
}

main .card .card-header .info a {
  font-size: 1.3rem;
  line-height: 1.9rem;
  color: var(--blue);
  text-decoration: none;
}

main .card .card-header .info .date {
  font-size: 1.3rem;
  line-height: 1.9rem;
  color: var(--tertiary-text);
  margin-top: 0.6rem;
}

main .card .bio {
  font-size: 1.3rem;
  line-height: 2.5rem;
  color: var(--secondary-text);
  margin-top: 3.3rem;
}

main .card .stats {
  display: flex;
  justify-content: space-around;
  padding: 1.8rem 1.4rem;
  background-color: var(--primary-bg);
  border-radius: 1rem;
  margin-top: 2.3rem;
  text-align: center;
}

main .card .stats h4 {
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.6rem;
  color: var(--secondary-text);
}

main .card .stats p {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: var(--primary-text);
  margin-top: 0.8rem;
}

main .card .contact {
  margin-top: 2.4rem;
}

main .card .contact div.not-available {
  opacity: 0.7;
}

main .card .contact div {
  margin-top: 1.6rem;
  display: flex;
}

main .card .contact div:first-child {
  margin-top: 0;
}

main .card .contact .icon {
  height: 2rem;
  width: 2rem;
  margin-right: 1.3rem;
  background-repeat: no-repeat;
  background-position: center;
}

main .card .contact .location .icon {
  background-image: url('./assets/icon-location.svg');
}

main .card .contact .website .icon {
  background-image: url('./assets/icon-website.svg');
}

main .card .contact .twitter .icon {
  background-image: url('./assets/icon-twitter.svg');
}

main .card .contact .company .icon {
  background-image: url('./assets/icon-company.svg');
}

main .card .contact p {
  font-size: 1.3rem;
  line-height: 1.9rem;
  color: var(--secondary-text);
}
