@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root {
  --blue: #0079ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body.light {
  --primary-bg: #f6f8ff;
  --secondary-bg: #fefefe;
  --primary-text: #2b3442;
  --secondary-text: #4b6a9b;
  --tertiary-text: #697c9a;
  --logo: #222731;
}

body.dark {
  --primary-bg: #141d2f;
  --secondary-bg: #1e2a47;
  --primary-text: #fff;
  --secondary-text: #fff;
  --tertiary-text: #fff;
  --logo: #fff;
}

body {
  font-family: 'Space Mono', monospace;
  background-color: var(--primary-bg);
}

.container {
  max-width: 375px;
  margin: 0 auto;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-weight: 700;
  font-size: 2.6rem;
  line-height: 3.9rem;
  color: var(--logo);
}

header .theme-toggle {
  display: flex;
  align-items: center;
}

header .theme-toggle span {
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 1.9rem;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  color: var(--secondary-text);
  margin-right: 1.6rem;
}

body.light header .theme-toggle .theme-icon {
  content: url('./assets/icon-moon.svg');
}

body.dark header .theme-toggle .theme-icon {
  content: url('./assets/icon-sun.svg');
}
