@media (min-width: 600px) {
  .container {
    max-width: 600px;
  }

  header {
    margin-top: 14rem;
  }

  main form {
    height: 6.9rem;
  }

  main form .input-field input {
    padding: 2.2rem 13rem 2.2rem 8rem;
    border: none;
    background-color: transparent;
    width: 100%;
  }

  main form .input-field .search-icon {
    left: 3.2rem;
    width: 2.4rem;
  }

  main form .input-field label {
    font-size: 1.8rem;
    left: 8rem;
  }

  main form .input-field .btn {
    font-size: 1.6rem;
    line-height: 2.4rem;
    padding: 1.3rem 2.4rem;
    right: 1rem;
  }

  main form .input-field .error {
    right: 12rem;
  }

  main .card {
    margin-top: 2.4rem;
    padding: 4rem;
  }

  main .card .card-header .avatar {
    width: 11.7rem;
    height: 11.7rem;
    margin-right: 4.1rem;
  }

  main .card .card-header .info .name {
    font-size: 2.6rem;
    line-height: 3.9rem;
  }

  main .card .card-header .info a {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }

  main .card .card-header .info .date {
    font-size: 1.5rem;
    line-height: 2.2rem;
    margin-top: 0.4rem;
  }

  main .card .bio {
    font-size: 1.5rem;
    margin-top: 2.4rem;
  }

  main .card .stats {
    justify-content: space-between;
    padding: 1.5rem 9.6rem 1.7rem 3.2rem;
    margin-top: 3.2rem;
    text-align: left;
  }

  main .card .stats h4 {
    font-size: 1.3rem;
    line-height: 1.9rem;
  }

  main .card .stats p {
    font-size: 2.2rem;
    line-height: 3.3rem;
    margin-top: 0.1rem;
  }

  main .card .contact {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.9rem;
  }

  main .card .contact .twitter {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }

  main .card .contact div {
    margin-top: 0;
  }

  main .card .contact .icon {
    margin-right: 1.6rem;
  }

  main .card .contact p,
  main .card .contact a {
    font-size: 1.5rem;
    line-height: 2.2rem;
  }
}
